*/*/bin
*/*/obj
*/*/*.user

/src/SampleWeb/Properties/PublishProfiles/*.pubxml
/src/SampleWeb/Properties/PublishProfiles/*.user
/.vs/LazyDev/v16/*.suo
/.vs/LazyDev/DesignTimeBuild/.dtbcache.v2
/LazyDev.sln.DotSettings
/.vs
/.vs
